body {
    margin: 0;
    background-color: #f7eee3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". a a ."
        ". a a .";
    width: 100vw;
    height: 100vh;
}
h3,h5 {
    margin: 0;
}
button {
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
}
.audio-player-container {
    background: #d4d1d1;
    border-radius: 8px;
    display: flex;
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 30vw;
}
.play-icon {
    margin: 20px 2.5% 20px 2.5%;
    background: url("../img/play.png") no-repeat;
    background-size: contain;
}
.pause-icon {
    margin: 20px 2.5% 20px 2.5%;
    background: url("../img/pause.png")  no-repeat;
    background-size: contain;
}
.volume {
    height: 25px;
    width: 25px;
    align-self: end;
    justify-self: end;
    background: url(../img/volume.png) no-repeat;
    background-size: contain;
    margin-bottom: 3px;
}
.live {
    background: url(../img/live.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.about-song {
    display: grid;
}
.volume-control {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-right: 10px;
}
.center {
    align-self: center;
    justify-self: center;
}
